*{
    margin: 0;
    padding: 0;
    list-style: none;
    text-transform: capitalize;
}
:root{
    --blue:#035fae;
    --yellow:rgba(251, 255, 56, 0.8);
    --fontsize:25px;
}
/* header start */
header{
    max-width: 100%;
    position: sticky;
    top: 0%;
    background-color: white;
    z-index: 10;
}
header nav{
    max-width: 1100px;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: white;
}
@keyframes color{
    0%{
        background-color: var(--blue);
    }
    50% {
        background-color: var(--yellow);
    }
    100% {
        background-color: var(--blue);
    }
}
header nav .right{
    background-color: var(--blue);
    padding: 10px 20px;
    border-radius: 25px 25px 0px 25px;
    color: white;
    font-size: var(--fontsize);
    margin-right: 20px;
    animation: color 0.8s 0s infinite linear;
}
header nav .right p{
    margin-left: 5px;
}
/* header end */

/* bg start */
.banner {
    background-image: url("https://packshifts.in/images/banner.jpg");
    background-size: cover;
    height: 70vh;
    margin-bottom: 30px;
}
.main {
    max-width: 1100px;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.main .left{
    flex-basis: 60%;
    color: white;
    margin-top: 80px;
}
.main .left h2{
    font-size: var(--fontsize);
    font-weight: 600;
    line-height: 40px;
    padding: 20px 0px;
    letter-spacing: 2px;
}
.main .left h3{
    font-size:23px;
    font-weight: 600;
    padding: 15px 0px;
}
.main .left p{
    font-size: 22px;
    padding: 15px 0px;
}
.main .left img{
    padding: 25px 0px;
}
.main .right{
    flex-basis: 30%;
    color: white;
    margin-top: 19px;
    height: 400px;
    background-color: #F3F3F3;
    border-radius: 35px;
    margin-right: 10%;
}
.main .right h4{
    color: black;
    padding-top: 20px;
    padding-left: 15%;
    font-weight: bold;
}
.main .right input{
    width: 80%;
    margin: 4% 5%;
    padding: 5px 10px;
    border: 1px solid #ced4da;
    outline: none;
}
#small{
    width: 35%;
}
.yellow {
    width: 35%;
    background-color: #fd7e14;
    color: black;
    padding: 5px 40px;
    display: inline;
}
.main .right p{
    color: black;
    font-size: 12px;
    width: 90%;
    margin: auto;
}
.main .right p span{
    color: #035fae;
}

.button {
    font-size: 15px;
    font-weight: bold;
    width: 85%;
    border: none;
    padding: 5px 0;
    margin-top: 5px;
    margin-left: 20px;
    color: #FFF;
    background-color: #155ED1;
}


/* bg end */

/* yt section start */
.heading{
    width: 300px;
    text-align: center;
    font-size: 25px;
    margin-top: 40px;
}
.heading i,.first{
    color: #035fae;
}
.sec{
    color: #ffcf40;
}
.videos{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    max-width: 1100px;
    margin:40px auto;
}
.videos>.part{
    flex-basis: 31%;
    margin: 1%;
    height: 300px;
}
.part iframe{
    width: 100%;
    height: 80%;
    transition: transform 0.3s;
}
.part iframe:hover {
    transform: scale(1.1); 
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  }
.part h4{
    text-align: center;
    font-size: 20px;
    font-weight: lighter;
    color: #035fae;
    padding-top: 15px;
}




/* yt section end */

/* our services start */
.bggrey{
    background-color: #f4f4f4;
    margin-bottom: 40px;
}
.services-main{
    max-width: 1100px;
    margin: auto;
    background-color: #f4f4f4;
}
.heading{
    width:10px 300px;
    margin: auto;
    text-align: center;
    font-size: 25px;
}
.heading i,.first{
    color: #035fae;
}
.sec{
    color: #ffcf40;
}
.section {
    max-width: 1100px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 10px;
    padding-bottom: 100px;
}
.part {
    margin-top: 30px;
    border-radius: 25px;
    background-color: #fff;
    text-align: center;
    box-shadow: 0 1px 3px rgb(0 0 0 / 10%);
    
}
.part h3{
    text-align: center;
    color: var(--blue);
    font-weight: bold;
    padding: 10px 0px;
}
.part p{
    padding: 10px 0px;
    padding-bottom: 15px;
}
.part button{
    margin: 10px 0px;
}
.part img {
    width: 100%;
    border-radius: 25px 25px 0px 0px;
}
.part button {
    font-size: 16px;
    background: #ffcf40;
    box-shadow: 0px 4px 14px rgb(0 0 0 / 25%);
    border-radius: 5px;
    cursor: pointer;
    text-transform: capitalize;
    font-weight: 700;
    padding: 8px 25px;
    color: #2F2F2F;
    border: 0px;
}


/* our services end */

/* whyy start */
.container {
    max-width: 1100px;
    margin: auto;
    padding-bottom: 50px;
}
.para {
    font-size: 18px;
    font-weight: bold;
    color: black;
    text-align: center;
    padding-top: 40px;
}
.grid-box {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-gap: 20px;
    max-width: 1100px;
}
.grid-box > .part {
    background-color: #f2f2f2;
    width: 95%;
}
.grid-box .part img {
    width: 40%;
}
.grid-box .part h4 {
    padding: 10px 0px;
}


/* whyy end */

/* our achievment start */
.bgblue{
    background-color: var(--blue);
    max-width: 100%;
}
.section2{
    max-width: 1100px;
    margin: auto;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
}
.heading2{
    max-width:300px;
    text-align: center;
    font-size: 30px;
    padding-top: 50px;
}
.heading2 i,.first1{
    color: #fff;
}
.sec1{
    color: #fff;
}
.para2{
    color: #fff;
    font-size: 20px;
    padding-top: 40px;
}
.main3{
    margin-top: 50px;
    max-width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    padding-bottom: 50px;
}

.parts2{
    text-align: center;
    color: #fff;
}
/* our achievment end */

/* happy costomer start */
.heading3{
    max-width:300px;
    margin: auto;
    text-align: center;
    font-size: 25px;

}
.heading3 i,.first2{
    color: #035fae;
}
.sec2{
    color: #ffcf40;
}
.costomer {
    margin-top: 30px;
    padding-bottom: 30px;
}
.big-box{
    margin: 50px auto;
    border-radius: 30px;
    max-width: 700px;
    height: 300px;
    background-color: var(--blue);
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}
.big-box p{
    width: 80%;
    color: #fff;
    font-weight: lighter;
    font-size: 14px;
}
.big-box p span{
    font-size: 28px;
}
.big-box .small-box{
    position: absolute;
    top: 24%;
    left: -14%;
    width: 150px;
    height: 150px;
    border-radius: 0px 20px 0px 20px;
    background-color: #ffcf40;
    text-align: center;
}
.big-box .small-box img {
    width: 80%;
}



/* happy costomer end */

/* our clients start */
.main4{
    background-color: #f2f2f2;
    padding-top: 20PX;
    padding-bottom: 30px;
    margin-bottom: 20px;
}
.img-section{
    max-width: 1100px;
    margin: auto;
    display: flex;
    gap: 10px;
    align-items: center;
    margin-top: 20px;
}
.img-section img{
    width: 60%;
    border-radius: 20px;
}


/* our clients end */

/* our branches start */
.main5{
    max-width: 100%;
    margin: auto;
}
.containerW{
    display: flex;
    flex-wrap: wrap;
    max-width: 1100px;
    margin: 20px auto;
}
.containerW .right{
    flex-basis: 45%;
    margin: 1%;
    color: #2f2f2f;
    text-align: center;
    border-radius: 20px;
    padding: 20px 10px 30px 10px;
    background: #f4f4f4;
    box-shadow: 0 1px 3px rgb(0 0 0 / 10%);
}
.containerW .left{
    flex-basis: 45%;
    margin: 1%;
    color: #2f2f2f;
    text-align: center;
    border-radius: 20px;
    padding: 20px 10px 30px 10px;
    background: #f4f4f4;
    box-shadow: 0 1px 3px rgb(0 0 0 / 10%);
}
.containerW i{
    font-size: 40px;
    color: var(--yellow);
}






/* our branches end */

/* packshift packer and mover start  */
.heading4{
    max-width:450px;
    margin: auto;
    text-align: center;
    font-size: 25px;
    padding-top: 10px;
}
.heading4 i,.first3{
    color: #035fae;
}
.sec3{
    color: #ffcf40;
}
.bgG{
    background-color: #f2f2f2;
    margin-top: 30px;
    padding-bottom: 20px;
}
.address{
    padding-top: 30px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    max-width: 1100px;
    margin: auto;
    gap: 15px;
}
.address .p1, .p2, .p3{
    flex-basis: 30%;
}
.address .p1 h4{
    font-size: 18px;
    font-weight: lighter;
    padding-bottom: 5px;
}
.address .p1 ul li{
    font-size: 14px;
    font-weight: lighter;
    color: #2f2f2f;
}
.address .p2 h4{
    font-size: 18px;
    font-weight: lighter;
    padding-bottom: 5px;
}
.address .p2 ul li{
    font-size: 14px;
    font-weight: lighter;
    color: #2f2f2f;
}
.address .p3 h4{
    font-size: 18px;
    font-weight: lighter;
    padding-bottom: 5px;
}
.address .p3 ul li{
    font-size: 14px;
    font-weight: lighter;
    color: #2f2f2f;
}

/* packshift packer and mover end */

/* footer start */
.bg-blue {
    background-color: #155ED1;
    max-width: 100%;
    
}
.mainF{
    padding: 0px 0px;
    max-width: 1100px;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.leftF{
    flex-basis: 50%;
    color: white;
    font-weight: lighter;
    text-align: center;
}
.rightF{
    flex-basis: 50%;
}
.rightF img {
    width: 30px;
    float: left;
    margin: 0px 5px;
}
.line{
    height: 3px;
    background-color: white;
    max-width: 90%;
    margin: auto;
}
.bg-blue>p{
    max-width: 1100px;
    margin: 10px auto;
    color: white;
    font-weight: lighter;
    text-align: center;
}
/* footer end */