@media only screen and (min-width:250px) and (max-width:575px) {
    body {
        padding: 0px 5px;
    }

    nav {
        justify-content: space-between;
    }

    .left {
        justify-content: center;
    }

    .user {
        display: none;
    }

    .cart {
        display: none
    }
    .banner-rightside .img3{
        display: none;
    }

    .banner-inner {
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    .restro-inner {
        text-align: center;
    }

    .restro-menu {
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    .near-left h2 {
        font-size: 25px;
        font-weight: 300;
        text-align: center;
        color: #3F4255;
    }
    .near-left p{
        text-align: center;
    }

    .near-inner {
        flex-direction: column;
        text-align: center;
    }

    .near-left {
        text-align: center;
        justify-content: center;
    }
    .special-inner{
        flex-direction: column;
    }
    .show{
        display: none;

    }
    .special-menu{
       display: grid;
       grid-template-columns: repeat(3,1fr);
    }
    .dish-box {
        text-align: center;
        justify-content: center;
    }
    .bg-inner{
        display: none;
    }
    .map-inner{
       display: none;
    }
    .insta-inner{
        text-align: center;
    }
    .insta-inner>h1{
        font-size: 25px;
        text-align: center;
    }
    .insta-inner .insta-span{
        font-size: 22px;
        text-align: center;
    }
    .insta-img {
        display: flex;
        flex-direction: column;
        text-align: center;
        justify-content: center;
        align-content: center;

    }
    .insta-img img{
        width: 50%;
        text-align: center;
        align-content: center;
    }
    .part1{
        text-align: center;
    }
    .part2{
        display: none;
    }
    .social{
        display: none;
    }
}